<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="all">

    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="myFileLogger" fileName="${basePath}/propertieslogs.log" filePattern="propertieslogs-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 
        <Console name="myConsole" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="core" level="debug" additivity="true">
            <appender-ref ref="myFileLogger" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
        	<appender-ref ref="myFileLogger" />
            <appender-ref ref="myConsole" />
        </Root>
    </Loggers>
</Configuration>